{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <hr>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Trainingen">Trainings aanbod</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/registreren">Lid worden</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Gedrag regels</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/contact">Locatie & Contact</a>
        </li>

        <li class="nav-item">
            <a class="nav-link active" href="{{ path('app_login') }}">Inloggen</a>
        </li>

    </ul>

    <hr>
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_home') }}">Logout</a>
        </div>
    {% endif %}

    <div class="container login-container">
        <div class="login-form-1">
    <h3 class="h3 mb-3 font-weight-normal">Log nu in!</h3>

    <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>

    <label for="inputPassword">wachtwoord</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <input type="submit" class="btn btn-success" value="Login"/>
        </div>
    </div>
</form>

    <style>
        .login-container{
            margin: auto;
            margin-top: 40px;
            width: 40%;
        }
        .login-logo{
            position: relative;
        }
        .login-logo img{
            position: absolute;
            width: 20%;
            margin-top: 19%;
            background: #282726;
            border-radius: 4.5rem;
            padding: 5%;
        }
        .login-form-1{
            padding: 9%;
            /*background:#282726;*/
            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
        }
        .login-form-1 h3{
            text-align: center;
            margin-bottom:12%;
            color:#8B0000;
        }

        .btn-success {
            margin-top: 10px;
        }
    </style>
{% endblock %}

